<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post in detail</title>
    <link rel = "stylesheet" href = "/style.css"/>
</head>
<body>
    <div>
        <h1>Here is your post in detail</h1>
        <p>Post id:<%= post.id %></p>
        <div class = "post">
            <h2 class = "user"><%= post.username %></h2>
            <h3 ><%= post.content%></h3>
 b      </div>
    </div>
</body>
</html>